# .flutter-plugins
# .flutter-plugins-dependencies
# .packagespub-cache/.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json